body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  color: black !important;
}

.img_banner {
  width: 100% !important;
  height: 1% !important;
}

.nav_links {
  font-size: 1.5em !important;
}
.nav_links:hover {
    font-size: 1.5em !important;
    color: darkgray!important;
  }
nav{
    /* backdrop-filter: blur(2px);
    position: fixed; */
    width: 100%;
    color: #820000!important;
    
}
.fixed-nav {
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s; /* Pour un effet de transition doux */
  }
  footer{
    background-color: #fff!important;
    color:  #820000!important;
  }
  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%; /* Ratio 16:9 */
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
  }
  .video-responsive{
    overflow: hidden;
    background: none;
    max-width: 50%;
    max-height: 30%;
    margin-left: 25%;
    border-radius: 120px;
    margin-top: 5%;
  }
 

  
